.option-group {
  margin-right: 20px;
  margin-bottom: 20px;
}

.option-active {
  color: yellow;
  box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.4);
}

.option-value {
  margin-right: 10px;
  text-transform: capitalize
}

